
    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-3  pull-right">
            <p class="text-muted">
              <strong><span class="copyright">© 2014 Lalit Sethi. All right Reserved</span> </strong>
            </p>
          </div>
        </div>
      </div>
    </footer>